/*------------------------------------------------------------------
  Breadcrumbs
 -------------------------------------------------------------------*/
 .nk-breadcrumbs {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    list-style-type: none;
  
    > li {
      display: inline-block;
      font-size: 1.07rem;
  
      + li {
        margin-left: 6px;
      }
  
      a {
        color: inherit;
        text-decoration: none;
  
        &:hover,
        &.hover {
          color: #dd163b;
        }
      }
  
      &:last-of-type {
        display: flex;
        margin-top: 9px;
        margin-left: 0;
        font-size: 2.025rem;
  
        > span,
        > a {
          flex: auto;
          padding-right: 20px;
        }
  
        &::after {
          content: "";
          flex: 100;
          border-bottom: 4px solid #dd163b;
          transform: translateY(-12px);
        }
      }
    }
  }
  