@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@import "slide.scss";


// html {
//     --s: 198px; /* control the size*/
//     --c1: #1d1d1d;
//     --c2: #4e4f51;
//     --c3: #3c3c3c;
    
//     background:
//       repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
//        calc(.5*var(--s)) calc(.5*var(--s)*0.577),
//       repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
//     background-size: var(--s) calc(var(--s)*0.577);
//   }

// html {
//     --s: 91px; /* control the size*/
//     --c1: #f2f2f2;
//     --c2: #cdcbcc;
//     --c3: #999999;
    
//     --_g: 0 120deg,#0000 0;
//     background:
//       conic-gradient(from    0deg at calc(500%/6) calc(100%/3),var(--c3) var(--_g)),
//       conic-gradient(from -120deg at calc(100%/6) calc(100%/3),var(--c2) var(--_g)),
//       conic-gradient(from  120deg at calc(100%/3) calc(500%/6),var(--c1) var(--_g)),
//       conic-gradient(from  120deg at calc(200%/3) calc(500%/6),var(--c1) var(--_g)),
//       conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
//       conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
//       conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
//     background-size: calc(var(--s)*1.732) var(--s);
//   }

// body{
//     background-color: #e5e5e5;
//     opacity: 1;
//     background-size: 60px 60px;
//     background-image:  repeating-linear-gradient(to right, #0d0d10, #0d0d10 2px, #e5e5e5 2px, #e5e5e5);
// }

.container{
    max-width: 68rem;
}

.loginpage{
    .loginbutt{

            display: inline-block;
            border-radius: 50px;
            background-color: #58abd8;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 16px;
            padding: 6px;
            width: 110px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
           }
           
           button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
           }
           
           button span:after {
            content: '»';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -15px;
            transition: 0.5s;
           }
           
           button:hover span {
            padding-right: 15px;
           }
           
           button:hover span:after {
            opacity: 1;
            right: 0;
           }
}