/*------------------------------------------------------------------
  Plugins
-------------------------------------------------------------------*/
/*---------------------------
  Plugin NanoScroller
----------------------------*/
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  
    .nano-content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: scroll;
      overflow-x: hidden;
      outline: none;
      -webkit-overflow-scrolling: touch;
  
      &::-webkit-scrollbar {
        display: none;
      }
    }
  
    > .nano-pane {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 6px;
      visibility: hidden\9;
      background: rgba(0, 0, 0, 0.4);
      opacity: .01;
      transition: .2s opacity;
      will-change: opacity;
  
      > .nano-slider {
        position: relative;
        margin: 0 1px;
        background: #fff;
        opacity: .5;
  
        &:hover {
          opacity: .6;
        }
      }
    }
  
    &:hover > .nano-pane,
    .nano-pane.active,
    .nano-pane.flashed {
      visibility: visible\9;
      opacity: .99;
    }
  }
  
  /*---------------------------
    Plugin Photoswipe
  ----------------------------*/
  .pswp__button {
    opacity: 1;
  
    &:hover {
      opacity: .7;
    }
  }
  
  .pswp__button--arrow--left {
    left: 15px;
  
    &::before {
      top: 24px;
      width: 56px;
      height: 56px;
      background-color: transparent;
      border: 4px solid #fff;
      border-radius: 28px;
      left: 8px;
      background-position: -130px -34px;
    }
  }
  
  .pswp__button--arrow--right {
    right: 15px;
  
    &::before {
      top: 24px;
      width: 56px;
      height: 56px;
      background-color: transparent;
      border: 4px solid #fff;
      border-radius: 28px;
      right: 8px;
      background-position: -85px -34px;
    }
  }
  
  .pswp__top-bar {
    top: 15px;
    right: 15px;
    left: 15px;
    width: auto;
  
    @media (max-width: 575px) {
      top: 15px;
      right: 0;
      left: 0;
    }
  }
  
  .pswp__caption__center {
    max-width: 520px;
    padding: 40px;
    font-size: inherit;
    line-height: inherit;
  }
  
  /*---------------------------
    Plugin Seiyria Bootstrap Slider
  ----------------------------*/
  .nk-input-slider {
    .slider {
      width: 100%;
  
      &.slider-horizontal .slider-track {
        height: 6px;
      }
  
      .slider-track,
      .slider-selection,
      .slider-handle {
        background-image: none;
      }
  
      .slider-track {
        background-color: #293139;
        border-radius: 0;
  
        .nk-widget & {
          background-color: #171e22;
        }
      }
  
      .slider-selection,
      .slider-handle {
        background-color: #dd163b;
      }
  
      .slider-handle {
        width: 16px;
        height: 16px;
      }
    }
  }
  
  .nk-input-slider-inline {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  
    .nk-input-slider {
      flex: 1;
      padding: 3px 15px;
      margin-right: 20px;
      border: 1px solid #293139;
  
      > * {
        display: table-cell;
      }
  
      > .nk-input-slider-content {
        min-width: 160px;
      }
  
      > .nk-input-slider-input {
        width: 99%;
        padding-left: 20px;
      }
  
      @media (max-width: 767px) {
        margin-right: 0;
  
        > * {
          display: block;
          text-align: center;
        }
  
        > .nk-input-slider-content {
          min-width: 0;
        }
  
        > .nk-input-slider-input {
          width: 100%;
          padding-left: 0;
          margin-top: 10px;
        }
  
        > *:last-child {
          width: 100%;
          padding-top: 20px;
          padding-left: 0;
          text-align: right;
        }
      }
    }
  }
  
  /*---------------------------
    Plugin Summernote
  ----------------------------*/
  .note-editor.note-frame {
    border: none;
  
    .note-editing-area .note-editable {
      padding: 25px;
      color: #fff;
      background-color: #293139;
    }
  
    .note-statusbar {
      background-color: #0d1113;
    }
  }
  
  .note-toolbar {
    background-color: #232930;
  
    .note-btn {
      padding: 6px 15px;
      color: inherit;
      background-color: #171e22;
      border: none;
  
      &:hover {
        background-color: #0d1113;
      }
    }
  
    .dropdown-menu {
      color: inherit;
      background-color: #232930;
      box-shadow: 0 4px 10px 0 #232930;
  
      a {
        display: block;
        padding: 4px 10px;
        color: inherit;
  
        &:hover,
        &:focus,
        &:active {
          text-decoration: none;
        }
  
        &:hover {
          background-color: #171e22;
        }
      }
    }
  
    .dropdown-toggle::after {
      display: none;
    }
  
    .panel-heading > .btn-group,
    .popover-content > .btn-group {
      margin-top: 10px;
      margin-right: 15px;
      margin-bottom: 10px;
    }
  }
  
  .link-dialog .custom-checkbox input {
    top: 6px;
    left: 0;
    opacity: 1;
    z-index: 1;
  }
  