.slide-style {
    .title-gold {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        text-transform: uppercase;
        position: relative;
        background: linear-gradient(to bottom, #f5d78e 20%, #ffe9a0 50%, #b5944b 80%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // font-size: calc(5vw + 1rem);
        letter-spacing: 0.05em;
        margin: 0;
        color: transparent;
        text-shadow:
            1px 1px 3px rgba(0, 0, 0, 0.6),
            4px 4px 10px rgba(0, 0, 0, 0.4);
        transition: text-shadow 0.3s ease;

        /* Optional glow effect on hover */
        &:hover {
            text-shadow:
                // 1px 1px 5px rgba(255, 255, 255, 0.9),
                // 5px 5px 15px rgba(255, 223, 0, 0.8),
                #fc0 1px 0 10px;
        }

        /* Refined after effect */
        &::after {
            content: attr(data-heading);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            color: transparent;
            text-shadow:
                -1px -1px 3px rgba(255, 255, 255, 0.5),
                4px 4px 15px rgba(0, 0, 0, 0.3),
                7px 7px 25px rgba(0, 0, 0, 0.4);
        }
    }
}
