 .nk-social-links,
 .nk-social-links-2,
 .nk-social-links-3 {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     padding: 0;
     margin: 0;
     margin-right: -2px;
     margin-left: -2px;
     list-style-type: none;
 }
 
 .nk-social-links.nk-social-links-center,
 .nk-social-links-2.nk-social-links-center,
 .nk-social-links-3.nk-social-links-center {
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
 }
 
 .nk-social-links.nk-social-links-left,
 .nk-social-links-2.nk-social-links-left,
 .nk-social-links-3.nk-social-links-left {
     -webkit-box-pack: start;
         -ms-flex-pack: start;
             justify-content: flex-start;
 }
 
 .nk-social-links.nk-social-links-right,
 .nk-social-links-2.nk-social-links-right,
 .nk-social-links-3.nk-social-links-right {
     -webkit-box-pack: end;
         -ms-flex-pack: end;
             justify-content: flex-end;
 }
 
 .nk-social-links > li > *,
 .nk-social-links-2 > li > *,
 .nk-social-links-3 > li > * {
     display: block;
     width: 20px;
     height: 20px;
     margin: 3px;
     font-size: .9em;
     line-height: 20px;
     text-align: center;
     cursor: pointer;
     background-color: rgba(255, 255, 255, 0.75);
     border-radius: 10px;
     -webkit-transition: .15s background-color, .15s color;
     -o-transition: .15s background-color, .15s color;
     transition: .15s background-color, .15s color;
 }
 
 .nk-social-links > li > *, .nk-social-links > li > *:hover, .nk-social-links > li > *:focus, .nk-social-links > li > *:active,
 .nk-social-links-2 > li > *,
 .nk-social-links-2 > li > *:hover,
 .nk-social-links-2 > li > *:focus,
 .nk-social-links-2 > li > *:active,
 .nk-social-links-3 > li > *,
 .nk-social-links-3 > li > *:hover,
 .nk-social-links-3 > li > *:focus,
 .nk-social-links-3 > li > *:active {
     color: #171e22;
 }
 
 .nk-social-links > li > *:hover, .nk-social-links > li > *.hover,
 .nk-social-links-2 > li > *:hover,
 .nk-social-links-2 > li > *.hover,
 .nk-social-links-3 > li > *:hover,
 .nk-social-links-3 > li > *.hover {
     color: #fff;
     background-color: #dd163b;
 }
 
 .nk-social-links > li > *.nk-social-rss:hover, .nk-social-links > li > *.nk-social-rss.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-rss:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-rss.hover,
 .nk-social-links-2 > li > *.nk-social-rss:hover,
 .nk-social-links-2 > li > *.nk-social-rss.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-rss:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-rss.hover,
 .nk-social-links-3 > li > *.nk-social-rss:hover,
 .nk-social-links-3 > li > *.nk-social-rss.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-rss:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-rss.hover {
     color: #fff;
     background-color: #e06618;
 }
 
 .nk-social-links > li > *.nk-social-behance:hover, .nk-social-links > li > *.nk-social-behance.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-behance:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-behance.hover,
 .nk-social-links-2 > li > *.nk-social-behance:hover,
 .nk-social-links-2 > li > *.nk-social-behance.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-behance:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-behance.hover,
 .nk-social-links-3 > li > *.nk-social-behance:hover,
 .nk-social-links-3 > li > *.nk-social-behance.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-behance:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-behance.hover {
     color: #fff;
     background-color: #487cfb;
 }
 
 .nk-social-links > li > *.nk-social-bitbucket:hover, .nk-social-links > li > *.nk-social-bitbucket.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-bitbucket:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-bitbucket.hover,
 .nk-social-links-2 > li > *.nk-social-bitbucket:hover,
 .nk-social-links-2 > li > *.nk-social-bitbucket.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-bitbucket:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-bitbucket.hover,
 .nk-social-links-3 > li > *.nk-social-bitbucket:hover,
 .nk-social-links-3 > li > *.nk-social-bitbucket.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-bitbucket:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-bitbucket.hover {
     color: #fff;
     background-color: #36517e;
 }
 
 .nk-social-links > li > *.nk-social-dropbox:hover, .nk-social-links > li > *.nk-social-dropbox.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-dropbox:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-dropbox.hover,
 .nk-social-links-2 > li > *.nk-social-dropbox:hover,
 .nk-social-links-2 > li > *.nk-social-dropbox.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-dropbox:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-dropbox.hover,
 .nk-social-links-3 > li > *.nk-social-dropbox:hover,
 .nk-social-links-3 > li > *.nk-social-dropbox.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-dropbox:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-dropbox.hover {
     color: #fff;
     background-color: #4d86d9;
 }
 
 .nk-social-links > li > *.nk-social-dribbble:hover, .nk-social-links > li > *.nk-social-dribbble.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-dribbble:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-dribbble.hover,
 .nk-social-links-2 > li > *.nk-social-dribbble:hover,
 .nk-social-links-2 > li > *.nk-social-dribbble.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-dribbble:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-dribbble.hover,
 .nk-social-links-3 > li > *.nk-social-dribbble:hover,
 .nk-social-links-3 > li > *.nk-social-dribbble.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-dribbble:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-dribbble.hover {
     color: #fff;
     background-color: #ea4c89;
 }
 
 .nk-social-links > li > *.nk-social-deviantart:hover, .nk-social-links > li > *.nk-social-deviantart.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-deviantart:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-deviantart.hover,
 .nk-social-links-2 > li > *.nk-social-deviantart:hover,
 .nk-social-links-2 > li > *.nk-social-deviantart.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-deviantart:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-deviantart.hover,
 .nk-social-links-3 > li > *.nk-social-deviantart:hover,
 .nk-social-links-3 > li > *.nk-social-deviantart.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-deviantart:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-deviantart.hover {
     color: #fff;
     background-color: #4a5d4e;
 }
 
 .nk-social-links > li > *.nk-social-facebook:hover, .nk-social-links > li > *.nk-social-facebook.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-facebook:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-facebook.hover,
 .nk-social-links-2 > li > *.nk-social-facebook:hover,
 .nk-social-links-2 > li > *.nk-social-facebook.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-facebook:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-facebook.hover,
 .nk-social-links-3 > li > *.nk-social-facebook:hover,
 .nk-social-links-3 > li > *.nk-social-facebook.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-facebook:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-facebook.hover {
     color: #fff;
     background-color: #3b5998;
 }
 
 .nk-social-links > li > *.nk-social-flickr:hover, .nk-social-links > li > *.nk-social-flickr.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-flickr:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-flickr.hover,
 .nk-social-links-2 > li > *.nk-social-flickr:hover,
 .nk-social-links-2 > li > *.nk-social-flickr.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-flickr:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-flickr.hover,
 .nk-social-links-3 > li > *.nk-social-flickr:hover,
 .nk-social-links-3 > li > *.nk-social-flickr.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-flickr:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-flickr.hover {
     color: #fff;
     background-color: #f40083;
 }
 
 .nk-social-links > li > *.nk-social-foursquare:hover, .nk-social-links > li > *.nk-social-foursquare.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-foursquare:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-foursquare.hover,
 .nk-social-links-2 > li > *.nk-social-foursquare:hover,
 .nk-social-links-2 > li > *.nk-social-foursquare.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-foursquare:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-foursquare.hover,
 .nk-social-links-3 > li > *.nk-social-foursquare:hover,
 .nk-social-links-3 > li > *.nk-social-foursquare.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-foursquare:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-foursquare.hover {
     color: #fff;
     background-color: #fc4575;
 }
 
 .nk-social-links > li > *.nk-social-github:hover, .nk-social-links > li > *.nk-social-github.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-github:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-github.hover,
 .nk-social-links-2 > li > *.nk-social-github:hover,
 .nk-social-links-2 > li > *.nk-social-github.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-github:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-github.hover,
 .nk-social-links-3 > li > *.nk-social-github:hover,
 .nk-social-links-3 > li > *.nk-social-github.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-github:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-github.hover {
     color: #fff;
     background-color: #464646;
 }
 
 .nk-social-links > li > *.nk-social-google-plus:hover, .nk-social-links > li > *.nk-social-google-plus.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-google-plus:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-google-plus.hover,
 .nk-social-links-2 > li > *.nk-social-google-plus:hover,
 .nk-social-links-2 > li > *.nk-social-google-plus.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-google-plus:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-google-plus.hover,
 .nk-social-links-3 > li > *.nk-social-google-plus:hover,
 .nk-social-links-3 > li > *.nk-social-google-plus.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-google-plus:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-google-plus.hover {
     color: #fff;
     background-color: #df4a32;
 }
 
 .nk-social-links > li > *.nk-social-instagram:hover, .nk-social-links > li > *.nk-social-instagram.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-instagram:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-instagram.hover,
 .nk-social-links-2 > li > *.nk-social-instagram:hover,
 .nk-social-links-2 > li > *.nk-social-instagram.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-instagram:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-instagram.hover,
 .nk-social-links-3 > li > *.nk-social-instagram:hover,
 .nk-social-links-3 > li > *.nk-social-instagram.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-instagram:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-instagram.hover {
     color: #fff;
     background-color: #527198;
 }
 
 .nk-social-links > li > *.nk-social-linkedin:hover, .nk-social-links > li > *.nk-social-linkedin.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-linkedin:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-linkedin.hover,
 .nk-social-links-2 > li > *.nk-social-linkedin:hover,
 .nk-social-links-2 > li > *.nk-social-linkedin.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-linkedin:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-linkedin.hover,
 .nk-social-links-3 > li > *.nk-social-linkedin:hover,
 .nk-social-links-3 > li > *.nk-social-linkedin.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-linkedin:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-linkedin.hover {
     color: #fff;
     background-color: #007bb6;
 }
 
 .nk-social-links > li > *.nk-social-medium:hover, .nk-social-links > li > *.nk-social-medium.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-medium:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-medium.hover,
 .nk-social-links-2 > li > *.nk-social-medium:hover,
 .nk-social-links-2 > li > *.nk-social-medium.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-medium:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-medium.hover,
 .nk-social-links-3 > li > *.nk-social-medium:hover,
 .nk-social-links-3 > li > *.nk-social-medium.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-medium:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-medium.hover {
     color: #fff;
     background-color: #71c66d;
 }
 
 .nk-social-links > li > *.nk-social-odnoklassniki:hover, .nk-social-links > li > *.nk-social-odnoklassniki.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-odnoklassniki:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-odnoklassniki.hover,
 .nk-social-links-2 > li > *.nk-social-odnoklassniki:hover,
 .nk-social-links-2 > li > *.nk-social-odnoklassniki.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-odnoklassniki:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-odnoklassniki.hover,
 .nk-social-links-3 > li > *.nk-social-odnoklassniki:hover,
 .nk-social-links-3 > li > *.nk-social-odnoklassniki.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-odnoklassniki:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-odnoklassniki.hover {
     color: #fff;
     background-color: #d8732a;
 }
 
 .nk-social-links > li > *.nk-social-paypal:hover, .nk-social-links > li > *.nk-social-paypal.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-paypal:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-paypal.hover,
 .nk-social-links-2 > li > *.nk-social-paypal:hover,
 .nk-social-links-2 > li > *.nk-social-paypal.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-paypal:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-paypal.hover,
 .nk-social-links-3 > li > *.nk-social-paypal:hover,
 .nk-social-links-3 > li > *.nk-social-paypal.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-paypal:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-paypal.hover {
     color: #fff;
     background-color: #1d3283;
 }
 
 .nk-social-links > li > *.nk-social-pinterest:hover, .nk-social-links > li > *.nk-social-pinterest.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-pinterest:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-pinterest.hover,
 .nk-social-links-2 > li > *.nk-social-pinterest:hover,
 .nk-social-links-2 > li > *.nk-social-pinterest.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-pinterest:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-pinterest.hover,
 .nk-social-links-3 > li > *.nk-social-pinterest:hover,
 .nk-social-links-3 > li > *.nk-social-pinterest.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-pinterest:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-pinterest.hover {
     color: #fff;
     background-color: #cb2027;
 }
 
 .nk-social-links > li > *.nk-social-reddit:hover, .nk-social-links > li > *.nk-social-reddit.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-reddit:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-reddit.hover,
 .nk-social-links-2 > li > *.nk-social-reddit:hover,
 .nk-social-links-2 > li > *.nk-social-reddit.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-reddit:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-reddit.hover,
 .nk-social-links-3 > li > *.nk-social-reddit:hover,
 .nk-social-links-3 > li > *.nk-social-reddit.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-reddit:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-reddit.hover {
     color: #fff;
     background-color: #ff5700;
 }
 
 .nk-social-links > li > *.nk-social-skype:hover, .nk-social-links > li > *.nk-social-skype.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-skype:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-skype.hover,
 .nk-social-links-2 > li > *.nk-social-skype:hover,
 .nk-social-links-2 > li > *.nk-social-skype.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-skype:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-skype.hover,
 .nk-social-links-3 > li > *.nk-social-skype:hover,
 .nk-social-links-3 > li > *.nk-social-skype.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-skype:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-skype.hover {
     color: #fff;
     background-color: #00aff0;
 }
 
 .nk-social-links > li > *.nk-social-soundcloud:hover, .nk-social-links > li > *.nk-social-soundcloud.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-soundcloud:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-soundcloud.hover,
 .nk-social-links-2 > li > *.nk-social-soundcloud:hover,
 .nk-social-links-2 > li > *.nk-social-soundcloud.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-soundcloud:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-soundcloud.hover,
 .nk-social-links-3 > li > *.nk-social-soundcloud:hover,
 .nk-social-links-3 > li > *.nk-social-soundcloud.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-soundcloud:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-soundcloud.hover {
     color: #fff;
     background-color: #f50;
 }
 
 .nk-social-links > li > *.nk-social-slack:hover, .nk-social-links > li > *.nk-social-slack.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-slack:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-slack.hover,
 .nk-social-links-2 > li > *.nk-social-slack:hover,
 .nk-social-links-2 > li > *.nk-social-slack.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-slack:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-slack.hover,
 .nk-social-links-3 > li > *.nk-social-slack:hover,
 .nk-social-links-3 > li > *.nk-social-slack.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-slack:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-slack.hover {
     color: #fff;
     background-color: #543b56;
 }
 
 .nk-social-links > li > *.nk-social-steam:hover, .nk-social-links > li > *.nk-social-steam.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-steam:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-steam.hover,
 .nk-social-links-2 > li > *.nk-social-steam:hover,
 .nk-social-links-2 > li > *.nk-social-steam.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-steam:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-steam.hover,
 .nk-social-links-3 > li > *.nk-social-steam:hover,
 .nk-social-links-3 > li > *.nk-social-steam.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-steam:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-steam.hover {
     color: #fff;
     background-color: #272425;
 }
 
 .nk-social-links > li > *.nk-social-snapchat:hover, .nk-social-links > li > *.nk-social-snapchat.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-snapchat:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-snapchat.hover,
 .nk-social-links-2 > li > *.nk-social-snapchat:hover,
 .nk-social-links-2 > li > *.nk-social-snapchat.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-snapchat:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-snapchat.hover,
 .nk-social-links-3 > li > *.nk-social-snapchat:hover,
 .nk-social-links-3 > li > *.nk-social-snapchat.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-snapchat:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-snapchat.hover {
     color: #fff;
     background-color: #fffc00;
 }
 
 .nk-social-links > li > *.nk-social-swarm:hover, .nk-social-links > li > *.nk-social-swarm.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-swarm:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-swarm.hover,
 .nk-social-links-2 > li > *.nk-social-swarm:hover,
 .nk-social-links-2 > li > *.nk-social-swarm.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-swarm:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-swarm.hover,
 .nk-social-links-3 > li > *.nk-social-swarm:hover,
 .nk-social-links-3 > li > *.nk-social-swarm.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-swarm:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-swarm.hover {
     color: #fff;
     background-color: #ffb000;
 }
 
 .nk-social-links > li > *.nk-social-stumbleupon:hover, .nk-social-links > li > *.nk-social-stumbleupon.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-stumbleupon:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-stumbleupon.hover,
 .nk-social-links-2 > li > *.nk-social-stumbleupon:hover,
 .nk-social-links-2 > li > *.nk-social-stumbleupon.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-stumbleupon:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-stumbleupon.hover,
 .nk-social-links-3 > li > *.nk-social-stumbleupon:hover,
 .nk-social-links-3 > li > *.nk-social-stumbleupon.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-stumbleupon:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-stumbleupon.hover {
     color: #fff;
     background-color: #eb4924;
 }
 
 .nk-social-links > li > *.nk-social-spotify:hover, .nk-social-links > li > *.nk-social-spotify.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-spotify:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-spotify.hover,
 .nk-social-links-2 > li > *.nk-social-spotify:hover,
 .nk-social-links-2 > li > *.nk-social-spotify.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-spotify:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-spotify.hover,
 .nk-social-links-3 > li > *.nk-social-spotify:hover,
 .nk-social-links-3 > li > *.nk-social-spotify.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-spotify:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-spotify.hover {
     color: #fff;
     background-color: #1ed760;
 }
 
 .nk-social-links > li > *.nk-social-tumblr:hover, .nk-social-links > li > *.nk-social-tumblr.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-tumblr:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-tumblr.hover,
 .nk-social-links-2 > li > *.nk-social-tumblr:hover,
 .nk-social-links-2 > li > *.nk-social-tumblr.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-tumblr:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-tumblr.hover,
 .nk-social-links-3 > li > *.nk-social-tumblr:hover,
 .nk-social-links-3 > li > *.nk-social-tumblr.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-tumblr:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-tumblr.hover {
     color: #fff;
     background-color: #2c4762;
 }
 
 .nk-social-links > li > *.nk-social-twitch:hover, .nk-social-links > li > *.nk-social-twitch.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-twitch:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-twitch.hover,
 .nk-social-links-2 > li > *.nk-social-twitch:hover,
 .nk-social-links-2 > li > *.nk-social-twitch.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-twitch:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-twitch.hover,
 .nk-social-links-3 > li > *.nk-social-twitch:hover,
 .nk-social-links-3 > li > *.nk-social-twitch.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-twitch:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-twitch.hover {
     color: #fff;
     background-color: #5c43a1;
 }
 
 .nk-social-links > li > *.nk-social-twitter:hover, .nk-social-links > li > *.nk-social-twitter.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-twitter:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-twitter.hover,
 .nk-social-links-2 > li > *.nk-social-twitter:hover,
 .nk-social-links-2 > li > *.nk-social-twitter.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-twitter:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-twitter.hover,
 .nk-social-links-3 > li > *.nk-social-twitter:hover,
 .nk-social-links-3 > li > *.nk-social-twitter.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-twitter:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-twitter.hover {
     color: #fff;
     background-color: #00b6f1;
 }
 
 .nk-social-links > li > *.nk-social-vimeo:hover, .nk-social-links > li > *.nk-social-vimeo.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-vimeo:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-vimeo.hover,
 .nk-social-links-2 > li > *.nk-social-vimeo:hover,
 .nk-social-links-2 > li > *.nk-social-vimeo.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-vimeo:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-vimeo.hover,
 .nk-social-links-3 > li > *.nk-social-vimeo:hover,
 .nk-social-links-3 > li > *.nk-social-vimeo.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-vimeo:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-vimeo.hover {
     color: #fff;
     background-color: #45bbff;
 }
 
 .nk-social-links > li > *.nk-social-vk:hover, .nk-social-links > li > *.nk-social-vk.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-vk:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-vk.hover,
 .nk-social-links-2 > li > *.nk-social-vk:hover,
 .nk-social-links-2 > li > *.nk-social-vk.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-vk:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-vk.hover,
 .nk-social-links-3 > li > *.nk-social-vk:hover,
 .nk-social-links-3 > li > *.nk-social-vk.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-vk:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-vk.hover {
     color: #fff;
     background-color: #657da0;
 }
 
 .nk-social-links > li > *.nk-social-wordpress:hover, .nk-social-links > li > *.nk-social-wordpress.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-wordpress:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-wordpress.hover,
 .nk-social-links-2 > li > *.nk-social-wordpress:hover,
 .nk-social-links-2 > li > *.nk-social-wordpress.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-wordpress:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-wordpress.hover,
 .nk-social-links-3 > li > *.nk-social-wordpress:hover,
 .nk-social-links-3 > li > *.nk-social-wordpress.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-wordpress:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-wordpress.hover {
     color: #fff;
     background-color: #4072a1;
 }
 
 .nk-social-links > li > *.nk-social-youtube:hover, .nk-social-links > li > *.nk-social-youtube.hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-youtube:hover, .nk-social-links.nk-social-links-3 > li > *.nk-social-youtube.hover,
 .nk-social-links-2 > li > *.nk-social-youtube:hover,
 .nk-social-links-2 > li > *.nk-social-youtube.hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-youtube:hover,
 .nk-social-links-2.nk-social-links-3 > li > *.nk-social-youtube.hover,
 .nk-social-links-3 > li > *.nk-social-youtube:hover,
 .nk-social-links-3 > li > *.nk-social-youtube.hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-youtube:hover,
 .nk-social-links-3.nk-social-links-3 > li > *.nk-social-youtube.hover {
     color: #fff;
     background-color: #f00;
 }
 
 .nk-social-links-2 {
     margin-right: -4px;
     margin-left: -4px;
 }
 
 .nk-social-links-2 > li > * {
     width: 26px;
     height: 26px;
     margin: 3px 5px;
     font-size: 1.1em;
     line-height: 26px;
     background-color: #fff;
     border-radius: 13px;
 }
 
 .nk-social-links-3 > li > * {
     position: relative;
     width: 100%;
     padding-top: 100%;
     margin: 0;
     font-size: 1.2em;
     color: #fff;
     background-color: #4e585f;
     border-radius: 0;
 }
 
 .nk-social-links-3 > li > * > svg,
 .nk-social-links-3 > li > * > span {
     position: absolute;
     top: 50%;
     left: 50%;
     width: 14px;
     height: 14px;
     margin-top: -7px;
     margin-left: -7px;
 }
 
 .nk-social-links-3 > li > * > svg {
     width: 18px;
     height: 18px;
     margin-top: -9px;
     margin-left: -9px;
 }
 
 .nk-social-links-3 > li > * > svg.svg-inline--fa {
     width: 18px;
 }
 
 .nk-social-links-3.nk-social-links-cols-5 > li {
     width: 20%;
 }
 
 .nk-social-links-3.nk-social-links-cols-5 > li:nth-child(6n) > a {
     background-color: #556067;
 }
 
 .nk-social-links-3.nk-social-links-cols-5 > li:nth-child(6n+2) > a {
     background-color: #5c6870;
 }
 
 .nk-social-links-3.nk-social-links-cols-5 > li:nth-child(6n+4) > a {
     background-color: #65727b;
 }
 
 .nk-social-links-3.nk-social-links-cols-4 > li {
     width: 25%;
 }
 
 .nk-social-links-3.nk-social-links-cols-4 > li:nth-child(5n) > a {
     background-color: #556067;
 }
 
 .nk-social-links-3.nk-social-links-cols-4 > li:nth-child(5n+2) > a {
     background-color: #5c6870;
 }
 
 .nk-social-links-3.nk-social-links-cols-4 > li:nth-child(5n+4) > a {
     background-color: #65727b;
 }
 
 .nk-social-links-3.nk-social-links-cols-3 > li {
     width: 33.333%;
 }
 
 .nk-social-links-3.nk-social-links-cols-3 > li:nth-child(4n) > a {
     background-color: #556067;
 }
 
 .nk-social-links-3.nk-social-links-cols-3 > li:nth-child(4n+2) > a {
     background-color: #5c6870;
 }
 
 .nk-social-links-3.nk-social-links-cols-3 > li:nth-child(4n+4) > a {
     background-color: #65727b;
 }
 
 .nk-social-links-3.nk-social-links-cols-2 > li {
     width: 50%;
 }
 
 .nk-social-links-3.nk-social-links-cols-2 > li:nth-child(3n) > a {
     background-color: #556067;
 }
 
 .nk-social-links-3.nk-social-links-cols-2 > li:nth-child(3n+2) > a {
     background-color: #5c6870;
 }
 
 .nk-social-links-3.nk-social-links-cols-2 > li:nth-child(3n+4) > a {
     background-color: #65727b;
 }
 
 .nk-widget-highlighted .nk-widget-content .nk-social-links-3 {
     margin-top: -21px;
     margin-right: -24px;
     margin-bottom: -21px;
     margin-left: -24px;
 }
 
 /* Contacts top right icons */
 .nk-contacts-icons {
     position: relative;
     padding: 0;
     margin: 0;
     margin-right: -20px;
     list-style-type: none;
 }
 
 @media (max-width: 767px) {
     .nk-contacts-icons {
         margin-right: 0;
     }
 }
 
 .nk-contacts-icons::after {
     content: "";
     display: block;
     clear: both;
 }
 
 .nk-contacts-icons > li {
     display: inline-block;
     margin: 3px 20px;
     line-height: 1.3;
     text-align: center;
 }
 
 .nk-contacts-icons > li > a {
     color: inherit;
     text-decoration: none;
     -webkit-transition: .15s color;
     -o-transition: .15s color;
     transition: .15s color;
 }
 
 .nk-contacts-icons > li.hover,
 .nk-contacts-icons > li > a:hover,
 .nk-contacts-icons > li > a:focus,
 .nk-contacts-icons > li > a:active {
     color: #dd163b;
 }